<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>课程视频管理</title>
    <link rel="stylesheet" href="/layui-v2.5.6/css/layui.css" media="all">
    <style type="text/css">
        body {
            padding: 20px;
        }

        /*layui表格显示完整图片*/
        .layui-table-cell {
            height: auto !important;
            white-space: normal;
        }

        #addOrUpCourseForm > div.needHidden > div > button {
            display: none;
        }

        /*layui 单元格设置纵向滚动条*/
        .laytable-cell-1-0-7, .laytable-cell-1-0-8, .laytable-cell-1-0-9 {
            max-height: 100px;
            overflow-y: auto;
        }
    </style>
</head>
<body>
<form class="layui-form layui-form-pane" action="" id="courseSearchForm" method="post"
      lay-filter="courseSearchForm" onsubmit="return false;">
    <div class="layui-form-item">
        <label class="layui-form-label">课程</label>
        <div class="layui-input-inline" style="width: 150px;">
            <select lay-filter="typeSelected" name="courseId" id="search_type">
                <option value="0" text=""></option>
                <option th:each="result : ${courseMap}" th:value="${result.key}" th:text="${result.value}"></option>
            </select>
        </div>
        <button class="layui-btn" lay-submit lay-filter="submit" id="queryBtn">查询</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        <button type="button" id="addBtn" class="layui-btn layui-btn-normal" shiro:hasPermission="coursevideo:add">添加
        </button>
    </div>
</form>
<table class="layui-hide" id="courseTable" lay-filter="courseTable"></table>
<script type="text/html" id="zizeng">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<!--layui表格显示图片-->
<script type="text/html" id="imgTpl">
    <div><img src="{{ d.cover }}" style="width:150px; height:150px;"></div>
</script>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="coursevideo:edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="coursevideo:del">删除</a>
</script>
<div id="addOrUpCourseDialog" class="layui-form" style="display:none">
    <form class="layui-form" method="post" id="addOrUpCourseForm">
        <label class="layui-form-label">课程</label>
        <div class="layui-input-block" style="width: 150px;">
            <select lay-filter="typeSelected" name="courseId" id="form_courseId">
                <option th:each="result : ${courseMap}" th:value="${result.key}" th:text="${result.value}"></option>
            </select>
        </div>
        <label class="layui-form-label">视频标题</label>
        <div class="layui-input-block" style="width: 150px;">
            <input type="text" name="title" id="form_title" required lay-verify="required"
                   placeholder="请输入视频标题" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">视频地址</label>
        <div class="layui-input-block" style="width: 150px;">
            <input type="text" name="videoUrl" id="form_url" required lay-verify="required"
                   placeholder="请输入视频地址" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">视频时长</label>
        <div class="layui-input-block" style="width: 150px;">
            <input type="text" name="duration" id="form_duration" required lay-verify="required"
                   placeholder="视频时长:秒" autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">视频封面</label>
        <div class="layui-input-block">
              <textarea name="cover" id="form_cover" style="width:70%;height:50px" required
                        lay-verify="required" autocomplete="off" placeholder="上传图片后保留[img]标签的内容"
                        class="layui-textarea"></textarea>
        </div>
        <input name="id" id="form_id" hidden>
        <input name="courseName" id="form_courseName" hidden>
    </form>
</div>
</body>
<script async id="chevereto-pup-src" src="https://imgchr.com/sdk/pup.js"
        data-url="https://imgchr.com/upload" data-fit-editor="0"></script>
<script src="/layui-v2.5.6/layui.js" type="text/javascript"></script>
<script src="/layuiMini/libs/jquery-3.4.1/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="/js/myUtils.js" type="text/javascript"></script>
<script type="text/javascript">
    // 表格
    layui.use(['table', 'jquery', 'layer', 'form', 'laydate'], function () {
        var table = layui.table,
            $ = layui.$,
            layer = layui.layer,
            form = layui.form;

        function addAndUpDialog(up, data) {
            var click = false;
            layer.open({
                type: 1,
                anim: 1,
                shade: 0.3,
                btn: ['保存', '取消'],
                title: "操作",
                btnAlign: 'c',
                shadeClose: true,
                area: ['480px', '400px'],
                content: $('#addOrUpCourseDialog'),
                success: function (layero, index) {
                    if (up) {
                        $('#form_courseId').val(data.courseId);
                        $('#form_title').val(data.title);
                        $('#form_url').val(data.videoUrl);
                        $('#form_duration').val(data.duration);
                        $('#form_cover').val(data.cover);
                        $('#form_id').val(data.id);
                        form.render('select');
                    } else {
                        document.getElementById("addOrUpCourseForm").reset();
                    }
                    var options = $("#form_courseId option:selected");//获取当前选择项.
                    $('#form_courseName').val(options.text());
                },
                yes: function () {
                    if (!click) {
                        click = true;
                        $.post({
                            url: "/course/video/addOrUp"
                            , data: $('#addOrUpCourseForm').serializeArray()
                            , success: function (resp) {
                                layer.msg(resp.msg);
                                setTimeout(function () {
                                    click = false;
                                    if (resp.success) {
                                        tableReloadmethod();
                                    }
                                }, 2500);
                            }
                            , error: function (resp) {
                                layer.msg(resp.msg);
                            }
                        });
                    } else {
                        layer.msg("请不要重复点击");
                    }
                }
            });
        }

        //执行一个 table 实例
        var tableReload = table.render({
            elem: '#courseTable'
            , id: 'id'
            , url: '/course/video/data' //数据接口
            , page: {
                limit: 20 //一页显示多少条
                , limits: [10, 20, 30]
            }
            , cellMinWidth: 80 // 开了这个，就不用全部都设置了
            , toolbar: false //不开工具栏了，基本用不到这些工具
            , even: true // 隔行背景
            , cols: [[{type: 'radio', fixed: 'left', hide: true}
                , {field: 'zizeng', sort: true, title: '序号', align: 'center', templet: '#zizeng', width: 80}
                , {field: 'courseName', sort: true, title: '课程名', width: 200, align: 'center'}
                , {field: 'title', sort: true, title: '视频名称', align: 'center', width: 200}
                , {field: 'videoUrl', sort: true, title: '视频地址', align: 'center', width: 200}
                , {field: 'duration', title: '视频时长(秒)', sort: true, width: 200, align: 'center'}
                , {field: 'cover', title: '封面', align: 'center', widthi: 200, templet: '#imgTpl'}
                , {title: '操作', width: 120, align: 'center', toolbar: '#bar'}]
            ]
            , request: {
                pageName: 'pageNum' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , response: {
                statusName: 'respCode' //数据状态的字段名称，默认：code
                , statusCode: 200 //成功的状态码，默认：0
                , countName: 'totalCount' //数据总数的字段名称，默认：count
            }
        });

        $('#addBtn').on("click", function () {
            addAndUpDialog(false);
        });

        // 表格的重载
        function tableReloadmethod() {
            tableReload.reload({
                where: form.val("courseSearchForm")
                , page: {curr: 1}
            });
        }

        // 查询按钮，因为重载方法的范围是在layui.use里，所以外边调用不到，需要用点击事件的方法来处理
        $(document).on('click', '#queryBtn', function () {
            tableReloadmethod();
        });

        //监听工具条
        table.on('tool(courseTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('要删除此课程吗？', {
                    btn: ['是的', '不了'],
                    shadeClose: true
                }, function () {
                    $.post({
                        url: "/course/video/del/" + encode(data.id.toString())
                        , success: function (resp) {
                            layer.msg(resp.msg);
                            setTimeout(function () {
                                if (resp.success) {
                                    tableReloadmethod();
                                }
                            }, 2500);
                        }
                        , error: function (resp) {
                            layer.msg(resp.msg);
                        }
                    });
                });
            } else if (obj.event === 'edit') {
                addAndUpDialog(true, data);
            }
        });
    });
</script>
</html>