<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>小黄鸭培训机构后台管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/layui-v2.5.6/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiMini/css/layuimini.css" media="all">
    <link rel="stylesheet" href="/layuiMini/libs/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <style id="layuimini-bg-color"></style>
</head>
<body class="layui-layout-body layuimini-all">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header header">
        <div class="layui-logo">
        </div>
        <a>
            <div class="layuimini-tool"><i title="展开" class="fa fa-outdent" data-side-fold="1"></i></div>
        </a>
        <ul class="layui-nav layui-layout-left layui-header-menu layui-header-pc-menu mobile layui-hide-xs"></ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:void(0)" data-refresh="刷新" title="刷新"><i class="fa fa-refresh"></i></a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:void(0)" data-clear="清理" title="清理缓存" class="layuimini-clear">
                    <i class="fa fa-trash-o"></i></a>
            </li>
            <li class="layui-nav-item layuimini-setting">
                <a href="javascript:void(0)">
                    <span shiro:principal property="realName"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="javascript:void(0)" id="adminInfo">基本资料</a>
                    </dd>
                    <dd>
                        <a href="javascript:void(0)" id="modifyPwdBtn">修改密码</a>
                    </dd>
                    <dd>
                        <a href="/logout" class="login-out">退出登录</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item layuimini-select-bgcolor mobile layui-hide-xs">
                <a href="javascript:void(0)" data-bgcolor="配色方案" title="配色方案"><i class="fa fa-ellipsis-v"></i></a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll layui-left-menu">
        </div>
    </div>

    <div class="layui-body">
        <div class="layui-tab" lay-filter="layuiminiTab" id="top_tabs_box">
            <ul class="layui-tab-title" id="top_tabs">
                <li class="layui-this" id="layuiminiHomeTabId" lay-id=""></li>
            </ul>
            <ul class="layui-nav closeBox">
                <li class="layui-nav-item">
                    <a href="javascript:void(0)"> <i class="fa fa-dot-circle-o"></i> 页面操作</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:void(0)" data-page-close="other"><i class="fa fa-window-close"></i> 关闭其他</a>
                        </dd>
                        <dd><a href="javascript:void(0)" data-page-close="all"><i class="fa fa-window-close-o"></i> 关闭全部</a>
                        </dd>
                    </dl>
                </li>
            </ul>
            <div class="layui-tab-content clildFrame">
                <div id="layuiminiHomeTabIframe" class="layui-tab-item layui-show">
                </div>
            </div>
        </div>
    </div>
    <!--TODO yellowgg 这种用法应该不好，后期改进-->
    <span id="adminId" style="display: none"><shiro:principal property="id"/></span>
    <span id="adminUserName" style="display: none"><shiro:principal property="userName"/></span>
    <span id="adminRealName" style="display: none"><shiro:principal property="realName"/></span>
    <span id="adminEmail" style="display: none"><shiro:principal property="email"/></span>
</div>
<script src="/layui-v2.5.6/layui.js" charset="utf-8"></script>
<script src="/layuiMini/js/lay-config.js" charset="utf-8"></script>
<script src="/layuiMini/libs/jquery-3.4.1/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="/js/myUtils.js" type="text/javascript"></script>
<!--TODO yellowgg 样式修改-->
<div id="adminInfoDialog" style="display:none">
    <form class="layui-form" method="post" id="adminInfoForm">
        <div>用户名<input readonly name="userName" id="adminUserName_form"></div>
        <div>姓名<input name="realName" id="adminRealName_form" required></div>
        <div>邮箱<input name="email" id="adminEmail_form" required lay-verify="email"></div>
        <input name="id" id="adminId_form" hidden>
    </form>
</div>
<div id="modifyPwdDialog" style="display:none">
    <form class="layui-form" method="post" id="modifyPwdForm">
        <div>原密码<input type="password" name="oldPwd" id="oldpwd_form"></div>
        <div>新密码<input type="password" name="newPwd" id="newpwd_form"></div>
        <input name="id" id="id_form" hidden>
    </form>
</div>
</body>
<script type="text/javascript">
    layui.use(['layer', 'layuimini', 'form'], function () {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer;
        layuimini.init("/admin/initJson/" + encode($("#adminId").text()));

        $('.login-out').on("click", function () {
            layer.msg('退出登录成功')
        })

        var click = false;
        $('#adminInfo').on("click", function () {
            layer.open({
                type: 1,
                anim: 1,
                shade: 0.6,
                btn: ['保存', '取消'],
                title: "用户信息",
                area: ['420px', '240px'],
                content: $('#adminInfoDialog'),
                // 回显
                success: function (layero, index) {
                    $('#adminUserName_form').val($("#adminUserName").text());
                    $('#adminRealName_form').val($("#adminRealName").text());
                    $('#adminEmail_form').val($("#adminEmail").text());
                    $('#adminId_form').val($("#adminId").text());
                },
                yes: function () {
                    if (!click) {
                        click = true;
                        var userName = $("#adminUserName_form").val();
                        var realName = $("#adminRealName_form").val();
                        if (isBlank(realName)) {
                            layer.msg("姓名不能为空");
                            click = false;
                            return;
                        }
                        var email = $("#adminEmail_form").val();
                        if (isBlank(email)) {
                            click = false;
                            layer.msg("邮箱不能为空");
                            return;
                        }
                        var id = $("#adminId_form").val();
                        $.post({
                            url: "/admin/updateInfo"
                            , data: {
                                userName: encode(userName), realName: realName,
                                email: encode(email), id: encode(id)
                            }
                            , success: function (resp) {
                                layer.msg(resp.msg);
                                setTimeout(function () {
                                    click = false;
                                    if (resp.success) {
                                        location.reload();
                                    }
                                }, 3000);
                            }
                            , error: function (resp) {
                                layer.msg(resp.msg);
                            }
                        });
                    }
                }
            });
        })

        var click = false;
        $('#modifyPwdBtn').on("click", function () {
            layer.open({
                type: 1,
                anim: 1,
                shade: 0.6,
                btn: ['修改', '取消'],
                title: "修改密码",
                area: ['420px', '240px'],
                content: $('#modifyPwdDialog'),
                success: function (layero, index) {
                    $('#id_form').val($("#adminId").text());
                },
                yes: function () {
                    if (!click) {
                        click = true;
                        var oldPwd = $("#oldpwd_form").val();
                        if (isBlank(oldPwd)) {
                            layer.msg("旧密码不能为空");
                            click = false;
                            return;
                        }
                        var newPwd = $("#newpwd_form").val();
                        if (isBlank(newPwd)) {
                            layer.msg("新密码不能为空");
                            click = false;
                            return;
                        }
                        if (oldPwd == newPwd) {
                            layer.msg("密码重复");
                            click = false;
                            return;
                        }
                        var id = $("#id_form").val();
                        $.post({
                            url: "/admin/updatePwd"
                            , data: {
                                oldPwd: $.encode64($.encode64($.encode64(oldPwd))),
                                newPwd: $.encode64($.encode64($.encode64(newPwd))),
                                adminId: encode(id)
                            }
                            , success: function (resp) {
                                layer.msg(resp.msg);
                                setTimeout(function () {
                                    click = false;
                                    if (resp.success) {
                                        window.location.href = "/logout";
                                    }
                                }, 2000);
                            }
                            , error: function (resp) {
                                layer.msg(resp.msg);
                            }
                        });
                    }
                }
            });
        })
    });

</script>
</html>
