<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支付对账</title>
    <link href="@{'/public/layui-2.5.5/css/layui.css'}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="layui-upload">
    <div class="layui-form-item">
        <label class="layui-form-label">支付方式</label>
        <div class="layui-input-block">
            <input type="text" name="paymentMethod" required lay-verify="required" placeholder="请输入支付方式"
                   autocomplete="off" class="layui-input" id="paymentMethod">
        </div>
    </div>
    <button type="button" class="layui-btn layui-btn-normal" id="selectFile">选择文件</button>
    <button type="button" class="layui-btn" id="upload">开始分解</button>
</div>
<table class="layui-hide" id="payCheckTable" lay-filter="payCheckTable"></table>
</body>
<script type="text/javascript" src="@{'/public/layui-2.5.5/layui.js'}"></script>
<script>
    layui.use(['upload', 'table', 'jquery'], function () {
        var $ = layui.jquery
                , table = layui.table
                , upload = layui.upload;

        // 选完文件后不自动上传
        upload.render({
            elem: '#selectFile'
            , url: '/FinanceMgr/payCheckUpload'
            , auto: false
            , accept: 'file' // 需设定，如果accept不设置会默认只能上传图片
            , acceptMime: 'file/xls, file/xlsx' // 文件选择框筛选的类型
            , exts: 'xls|xlsx' // 只能选择的类型
            , bindAction: '#upload'
            , data: {
                "paymentMethod": function () {
                    return $("#paymentMethod").val();
                }
            }
            , before: function (obj) {
                if ($("#paymentMethod").val().length == 0) {
                    alert("支付方式不能为空");
                    return;
                }
            }
            , done: function (res) {
                layer.close(layer.index);
                layer.open({
                    title: '提示'
                    , anim: 2
                    , content: res.success == false ? res.obj == null ? "服务器错误，请刷新后重试" : res.obj : res.obj
                    , yes: function () {
                        tableReloadmethod();
                        layer.close(layer.index);
                    }
                });
            }
            , error: function (index, upload) {
                layer.close(layer.index);
                layer.open({
                    title: '提示'
                    , anim: 2
                    , content: "上传失败，请重试"
                    , yes: function () {
                        tableReloadmethod();
                        layer.close(layer.index);
                    }
                });
            }
        });

        // 执行一个 table 实例
        var tableReload = table.render({
            elem: '#payCheckTable'
            , url: '/FinanceMgr/payCheckItemList' //数据接口
            , page: true //开启分页
            , toolbar: false //不开工具栏了，基本用不到这些工具
            , even: true // 隔行背景
            , text: "无数据噢"
            , cols: [[ //表头
                {type: 'radio', fixed: 'left', hide: true}
                , {field: 'id', title: 'ID', sort: true, id: "aaa", align: 'center'}
                , {field: 'gmtCreateTime', title: '创建时间', sort: true, align: 'center'}
                , {field: 'paymentMethod', title: '支付方式', sort: true, align: 'center'}
                , {field: 'sourceFile', title: '上传文件', sort: true, align: 'center'}
                , {fixed: 'right', align: 'center', title: '下载', toolbar: '#downloadTh'}
            ]]
            , response: {
                statusName: 'resultCode' //数据状态的字段名称，默认：code
                , statusCode: 200 //成功的状态码，默认：0
                , msgName: 'msg' //状态信息的字段名称，默认：msg
                , countName: 'totalCount' //数据总数的字段名称，默认：count
                , dataName: 'obj' //数据列表的字段名称，默认：data
            }
        });

        // 表格重载刷新
        function tableReloadmethod() {
            tableReload.reload({
                where: { //设定异步数据接口的额外参数，任意设
                }
                , page: true
                , response: {
                    statusName: 'resultCode' //数据状态的字段名称，默认：code
                    , statusCode: 200 //成功的状态码，默认：0
                    , msgName: 'msg' //状态信息的字段名称，默认：msg
                    , countName: 'totalCount' //数据总数的字段名称，默认：count
                    , dataName: 'obj' //数据列表的字段名称，默认：data
                }
            });
        }

        // 表格监听工具条
        table.on('tool(payCheckTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'download1') {
                window.location.href = data.payAccessUrl;
            } else if (obj.event === 'download2') {
                window.location.href = data.kpayOrderUrl;
            }
        });
    });
</script>
<script type="text/html" id="downloadTh">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="download1">KIK开头和200开头</a>
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="download2">9开头</a>
</script>
</html>