<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>角色管理</title>
    <link rel="stylesheet" href="/layui-v2.5.6/css/layui.css" media="all">
    <style type="text/css">
        body {
            padding: 20px;
        }


        .layui-table-view .layui-table {
            position: relative;
            width: 100%;
            margin: 0;
        }

        #addTeacherForm > div.layui-input-block.addTeacherForm_introduction > div > button {
            display: none;
        }

    </style>
</head>
<body>
<form class="layui-form layui-form-pane" action="" id="teacherSearchForm" method="post"
      lay-filter="teacherSearchForm" onsubmit="return false;">
    <div class="layui-form-item">
        <label class="layui-form-label">角色名</label>
        <div class="layui-input-inline" style="width: 150px;">
            <input type="text" name="name" id="name" placeholder="请输入角色" autocomplete="off"
                   class="layui-input">
        </div>
        <button class="layui-btn" lay-submit lay-filter="submit" id="queryBtn">查询</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        <button type="button" id="addBtn" class="layui-btn layui-btn-normal" shiro:hasPermission="course:add">添加
        </button>
    </div>
</form>
<table class="layui-hide" id="teacherTable" lay-filter="teacherTable"></table>
<div id="addTeacherDialog" class="layui-form" style="display:none">
    <form class="layui-form" method="post" id="addTeacherForm">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-block" style="width: 150px;">
            <input type="text" name="name" id="addTeacherForm_name" required lay-verify="required" placeholder="请输入角色"
                   autocomplete="off" class="layui-input">
        </div>
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block addTeacherForm_introduction">
            <textarea name="description" id="addTeacherForm_des" style="width:50%;height:150px" required
                      lay-verify="required" autocomplete="off" placeholder="请输入描述" class="layui-textarea"></textarea>
        </div>
        <input name="id" id="addTeacherForm_id" hidden>
        <hr>
        <div id="permTree"></div>
    </form>
</div>
<script type="text/html" id="zizeng">
    {{d.LAY_TABLE_INDEX+1}}
</script>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    {{# if(d.id != 1){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" id="del">删除</a>
    {{# } }}
</script>
</body>
<script async id="chevereto-pup-src" src="https://imgchr.com/sdk/pup.js"
        data-url="https://imgchr.com/upload" data-fit-editor="0"></script>
<script src="/layui-v2.5.6/layui.js" type="text/javascript"></script>
<script src="/layuiMini/libs/jquery-3.4.1/jquery-3.4.1.min.js" type="text/javascript"></script>
<script src="/js/myUtils.js" type="text/javascript"></script>
<script type="text/javascript">
    // 表格
    layui.use(['table', 'jquery', 'layer', 'form', 'laydate', 'tree'], function () {
        var table = layui.table,
            $ = layui.$,
            layer = layui.layer,
            tree = layui.tree,
            form = layui.form;

        //执行一个 table 实例
        var tableReload = table.render({
            elem: '#teacherTable'
            , id: 'id'
            , url: '/role/data' //数据接口
            , page: {
                limit: 20 //一页显示多少条
                , limits: [10, 20, 30]
            }
            , cellMinWidth: 80 // 开了这个，就不用全部都设置了
            , toolbar: false //不开工具栏了，基本用不到这些工具
            , even: true // 隔行背景
            , cols: [[{type: 'radio', fixed: 'left', hide: true}
                , {field: 'zizeng', sort: true, title: '序号', align: 'center', templet: '#zizeng', width: 80}
                , {field: 'name', sort: true, title: '角色', align: 'center'}
                , {field: 'description', sort: true, title: '描述', align: 'center'}
                , {title: '操作', width: 120, align: 'center', toolbar: '#bar'}]
            ]
            , request: {
                pageName: 'pageNum' //页码的参数名称，默认：page
                , limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            , response: {
                statusName: 'respCode' //数据状态的字段名称，默认：code
                , statusCode: 200 //成功的状态码，默认：0
                , countName: 'totalCount' //数据总数的字段名称，默认：count
            }
        });

        function addAndUpDialog(up, data) {
            var click = false;
            layer.open({
                type: 1,
                anim: 1,
                shade: 0.3,
                btn: ['保存', '取消'],
                title: "操作",
                btnAlign: 'c',
                shadeClose: true,
                area: ['1000px', '500px'],
                content: $('#addTeacherDialog'),
                success: function (layero, index) {
                    var url;
                    if (up) {
                        url = '/perm/permTree/' + encode(data.id.toString());
                    } else {
                        url = '/perm/permTree/' + encode('0');
                    }
                    $.ajax({
                        type: "get",
                        url: url,
                        dataType: 'json',
                        async: true,
                        success: function (resp) {
                            layui.use('tree', function () {
                                tree.render({
                                    elem: '#permTree',  //绑定元素
                                    id: 'permTreeId',
                                    contentType: 'application/json',
                                    showCheckbox: true,
                                    data: resp.data.menuInfo
                                });
                                tree.reload('permTreeId', {});
                            })
                        }
                    });

                    if (up) {
                        if (data.id == 1) {
                            $('#addTeacherForm_name').attr("readonly", true);
                            $('#permTree').hide();
                        } else {
                            $('#addTeacherForm_name').attr("readonly", false);
                            $('#permTree').show();
                        }
                        $('#addTeacherForm_name').val(data.name);
                        $('#addTeacherForm_des').val(data.description);
                        $('#addTeacherForm_id').val(data.id);
                    } else {
                        $('#addTeacherForm_name').attr("readonly", false);
                        $('#permTree').show();
                        document.getElementById("addTeacherForm").reset();
                    }
                },
                yes: function () {
                    function getCheckedId(jsonObj) {
                        var id = "";
                        $.each(jsonObj, function (index, item) {
                            if (id != "") {
                                id = id + "," + item.id;
                            } else {
                                id = item.id;
                            }
                            var i = getCheckedId(item.children);
                            if (i != "") {
                                id = id + "," + i;
                            }
                        });
                        return id;
                    }

                    var data = $('#addTeacherForm').serializeArray();
                    var checkedData = tree.getChecked('permTreeId'); //获取选中节点的数据
                    var ids = getCheckedId(checkedData);
                    var obj = {
                        name: "permIds",
                        value: ids
                    }
                    data.push(obj);
                    console.log(data);
                    if (!click) {
                        click = true;
                        $.post({
                            url: "/role/addOrUp"
                            , data: data
                            , success: function (resp) {
                                layer.msg(resp.msg);
                                setTimeout(function () {
                                    click = false;
                                    if (resp.success) {
                                        tableReloadmethod();
                                    }
                                }, 2500);
                            }
                            , error: function (resp) {
                                layer.msg(resp.msg);
                            }
                        });
                    } else {
                        layer.msg("请不要重复点击");
                    }
                }
            });
        }

        // 表格的重载
        function tableReloadmethod() {
            tableReload.reload({
                where: form.val("teacherSearchForm")
                , page: {curr: 1}
            });
        }

        // 查询按钮，因为重载方法的范围是在layui.use里，所以外边调用不到，需要用点击事件的方法来处理
        $(document).on('click', '#queryBtn', function () {
            tableReloadmethod();
        });

        $('#addBtn').on("click", function () {
            addAndUpDialog(false);
        });

        //监听工具条
        table.on('tool(teacherTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('要删除这位用户吗？', {
                    btn: ['是的', '不了'],
                    shadeClose: true
                }, function () {
                    $.post({
                        url: "/role/del/" + encode(data.id.toString())
                        , success: function (resp) {
                            layer.msg(resp.msg);
                            setTimeout(function () {
                                if (resp.success) {
                                    tableReloadmethod();
                                }
                            }, 2500);
                        }
                        , error: function (resp) {
                            layer.msg(resp.msg);
                        }
                    });
                });
            } else if (obj.event === 'edit') {
                addAndUpDialog(true, data);
            }
        });
    });
</script>
</html>