<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商家结算</title>
    <link href="@{'/public/layui-2.5.5/css/layui.css'}" rel="stylesheet" type="text/css"/>
</head>
<body>
<table class="layui-hide" id="sellerBalancePageTable" lay-filter="sellerBalancePageTable"></table>
</body>
<script type="text/javascript" src="@{'/public/layui-2.5.5/layui.js'}"></script>
<script type="text/javascript">
    // 表格
    layui.use(['table', 'jquery', 'layer', 'laydate', 'form'], function () {
        var table = layui.table,
            $ = layui.$,
            layer = layui.layer

        // //执行一个 table 实例
        var tableReload = table.render({
            elem: '#sellerBalancePageTable'
            , url: '/FinanceMgr/sellerBalanceJobItemList' //数据接口
            , page: true //开启分页
            , toolbar: false //不开工具栏了，基本用不到这些工具
            , even: true // 隔行背景
            , text: "无数据"
            , cols: [[ //表头
                {type: 'radio', fixed: 'left', hide: true}
                , {field: 'id', title: 'ID', sort: true, id: "aaa", align: 'center'}
                , {field: 'gmtCreateTime', title: '创建时间', sort: true, align: 'center'}
                , {field: 'accountPeriod', title: '账期', sort: true, align: 'center'}
                , {field: 'executeStatusName', title: '执行状态', sort: true, align: 'center'}
                , {fixed: 'right', align: 'center', title: '操作', toolbar: '#currentTableBar'}
            ]]
            , response: {
                statusName: 'resultCode' //数据状态的字段名称，默认：code
                , statusCode: 200 //成功的状态码，默认：0
                , msgName: 'msg' //状态信息的字段名称，默认：msg
                , countName: 'totalCount' //数据总数的字段名称，默认：count
                , dataName: 'obj' //数据列表的字段名称，默认：data
            }
        });

        //表格监听工具条
        table.on('tool(sellerBalancePageTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'delete') {
                layer.confirm('你不要过来啊~~~~  Σ(っ °Д °;)っ', {btn: ['打入冷宫', '饶你一命']}, function (index) {
                    obj.del();
                    layer.close(index);
                    //向服务端发送删除指令
                    $.post("/FinanceMgr/delSellerBalanceJobById?id=" + data.id, function (data) {
                        tableReloadmethod();
                        layer.msg(data.msg, {
                            icon: 16
                            , shade: 0.01
                            , time: 1.5 * 1000 // 最长等待1.5秒
                        });
                    });
                });
            }
        });

        // 表格的重载
        function tableReloadmethod() {
            tableReload.reload({
                page: true
                , response: {
                    statusName: 'resultCode' //数据状态的字段名称，默认：code
                    , statusCode: 200 //成功的状态码，默认：0
                    , msgName: 'msg' //状态信息的字段名称，默认：msg
                    , countName: 'totalCount' //数据总数的字段名称，默认：count
                    , dataName: 'obj' //数据列表的字段名称，默认：data
                }
            });
        }
    });
</script>
<script type="text/html" id="currentTableBar">
    <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
</script>
</html>