<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yellowgg.ducksystem.mapper.WalletMapper">
    <resultMap id="BaseResultMap" type="cn.yellowgg.ducksystem.entity.Wallet">
        <!--@mbg.generated-->
        <!--@Table wallet-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="gmtCreate" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmtModify" jdbcType="TIMESTAMP" property="gmtModify"/>
        <result column="isDelete" jdbcType="INTEGER" property="isDelete"/>
        <result column="accountId" jdbcType="BIGINT" property="accountId"/>
        <result column="balance" jdbcType="DECIMAL" property="balance"/>
        <result column="integral" jdbcType="INTEGER" property="integral"/>
        <result column="totalConsumption" jdbcType="DECIMAL" property="totalConsumption"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, gmtCreate, gmtModify, isDelete, accountId, balance, integral, totalConsumption
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from wallet
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete from wallet
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.yellowgg.ducksystem.entity.Wallet"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into wallet (gmtCreate, gmtModify, isDelete,
        accountId, balance, integral,
        totalConsumption)
        values (#{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER},
        #{accountId,jdbcType=BIGINT}, #{balance,jdbcType=DECIMAL}, #{integral,jdbcType=INTEGER},
        #{totalConsumption,jdbcType=DECIMAL})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.yellowgg.ducksystem.entity.Wallet"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into wallet
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gmtCreate != null">
                gmtCreate,
            </if>
            <if test="gmtModify != null">
                gmtModify,
            </if>
            <if test="isDelete != null">
                isDelete,
            </if>
            <if test="accountId != null">
                accountId,
            </if>
            <if test="balance != null">
                balance,
            </if>
            <if test="integral != null">
                integral,
            </if>
            <if test="totalConsumption != null">
                totalConsumption,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="accountId != null">
                #{accountId,jdbcType=BIGINT},
            </if>
            <if test="balance != null">
                #{balance,jdbcType=DECIMAL},
            </if>
            <if test="integral != null">
                #{integral,jdbcType=INTEGER},
            </if>
            <if test="totalConsumption != null">
                #{totalConsumption,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.yellowgg.ducksystem.entity.Wallet">
        <!--@mbg.generated-->
        update wallet
        <set>
            <if test="gmtCreate != null">
                gmtCreate = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmtModify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                isDelete = #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="accountId != null">
                accountId = #{accountId,jdbcType=BIGINT},
            </if>
            <if test="balance != null">
                balance = #{balance,jdbcType=DECIMAL},
            </if>
            <if test="integral != null">
                integral = #{integral,jdbcType=INTEGER},
            </if>
            <if test="totalConsumption != null">
                totalConsumption = #{totalConsumption,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.yellowgg.ducksystem.entity.Wallet">
        <!--@mbg.generated-->
        update wallet
        set gmtCreate = #{gmtCreate,jdbcType=TIMESTAMP},
        gmtModify = #{gmtModify,jdbcType=TIMESTAMP},
        isDelete = #{isDelete,jdbcType=INTEGER},
        accountId = #{accountId,jdbcType=BIGINT},
        balance = #{balance,jdbcType=DECIMAL},
        integral = #{integral,jdbcType=INTEGER},
        totalConsumption = #{totalConsumption,jdbcType=DECIMAL}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateBatch" parameterType="java.util.List">
        <!--@mbg.generated-->
        update wallet
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="gmtCreate = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.gmtCreate,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="gmtModify = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.gmtModify,jdbcType=TIMESTAMP}
                </foreach>
            </trim>
            <trim prefix="isDelete = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.isDelete,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="accountId = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.accountId,jdbcType=BIGINT}
                </foreach>
            </trim>
            <trim prefix="balance = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.balance,jdbcType=DECIMAL}
                </foreach>
            </trim>
            <trim prefix="integral = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.integral,jdbcType=INTEGER}
                </foreach>
            </trim>
            <trim prefix="totalConsumption = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    when id = #{item.id,jdbcType=BIGINT} then #{item.totalConsumption,jdbcType=DECIMAL}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <update id="updateBatchSelective" parameterType="java.util.List">
        <!--@mbg.generated-->
        update wallet
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="gmtCreate = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.gmtCreate != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.gmtCreate,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="gmtModify = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.gmtModify != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.gmtModify,jdbcType=TIMESTAMP}
                    </if>
                </foreach>
            </trim>
            <trim prefix="isDelete = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.isDelete != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.isDelete,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="accountId = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.accountId != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.accountId,jdbcType=BIGINT}
                    </if>
                </foreach>
            </trim>
            <trim prefix="balance = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.balance != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.balance,jdbcType=DECIMAL}
                    </if>
                </foreach>
            </trim>
            <trim prefix="integral = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.integral != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.integral,jdbcType=INTEGER}
                    </if>
                </foreach>
            </trim>
            <trim prefix="totalConsumption = case" suffix="end,">
                <foreach collection="list" index="index" item="item">
                    <if test="item.totalConsumption != null">
                        when id = #{item.id,jdbcType=BIGINT} then #{item.totalConsumption,jdbcType=DECIMAL}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach close=")" collection="list" item="item" open="(" separator=", ">
            #{item.id,jdbcType=BIGINT}
        </foreach>
    </update>
    <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into wallet
        (gmtCreate, gmtModify, isDelete, accountId, balance, integral, totalConsumption)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.gmtCreate,jdbcType=TIMESTAMP}, #{item.gmtModify,jdbcType=TIMESTAMP},
            #{item.isDelete,jdbcType=INTEGER},
            #{item.accountId,jdbcType=BIGINT}, #{item.balance,jdbcType=DECIMAL}, #{item.integral,jdbcType=INTEGER},
            #{item.totalConsumption,jdbcType=DECIMAL})
        </foreach>
    </insert>
    <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="cn.yellowgg.ducksystem.entity.Wallet"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into wallet
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            gmtCreate,
            gmtModify,
            isDelete,
            accountId,
            balance,
            integral,
            totalConsumption,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            #{gmtCreate,jdbcType=TIMESTAMP},
            #{gmtModify,jdbcType=TIMESTAMP},
            #{isDelete,jdbcType=INTEGER},
            #{accountId,jdbcType=BIGINT},
            #{balance,jdbcType=DECIMAL},
            #{integral,jdbcType=INTEGER},
            #{totalConsumption,jdbcType=DECIMAL},
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            gmtCreate = #{gmtCreate,jdbcType=TIMESTAMP},
            gmtModify = #{gmtModify,jdbcType=TIMESTAMP},
            isDelete = #{isDelete,jdbcType=INTEGER},
            accountId = #{accountId,jdbcType=BIGINT},
            balance = #{balance,jdbcType=DECIMAL},
            integral = #{integral,jdbcType=INTEGER},
            totalConsumption = #{totalConsumption,jdbcType=DECIMAL},
        </trim>
    </insert>
    <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id"
            parameterType="cn.yellowgg.ducksystem.entity.Wallet" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into wallet
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="gmtCreate != null">
                gmtCreate,
            </if>
            <if test="gmtModify != null">
                gmtModify,
            </if>
            <if test="isDelete != null">
                isDelete,
            </if>
            <if test="accountId != null">
                accountId,
            </if>
            <if test="balance != null">
                balance,
            </if>
            <if test="integral != null">
                integral,
            </if>
            <if test="totalConsumption != null">
                totalConsumption,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="accountId != null">
                #{accountId,jdbcType=BIGINT},
            </if>
            <if test="balance != null">
                #{balance,jdbcType=DECIMAL},
            </if>
            <if test="integral != null">
                #{integral,jdbcType=INTEGER},
            </if>
            <if test="totalConsumption != null">
                #{totalConsumption,jdbcType=DECIMAL},
            </if>
        </trim>
        on duplicate key update
        <trim suffixOverrides=",">
            <if test="gmtModify != null">
                gmtModify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="accountId != null">
                accountId = #{accountId,jdbcType=BIGINT},
            </if>
            <if test="balance != null">
                balance = #{balance,jdbcType=DECIMAL},
            </if>
            <if test="integral != null">
                integral = #{integral,jdbcType=INTEGER},
            </if>
            <if test="totalConsumption != null">
                totalConsumption = #{totalConsumption,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
</mapper>